.block.padb-50 > img {
    color: #EB1000;
    font-family: adobe-clean, Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    display: block;
    vertical-align: top;
}

.legal > a {
    color: #959595
}

.legal > a {
    color: #959595
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

#reg_foot {
}

.full-width {
    width: 600px;
    background-color: #fff
}



.email-width {
    width: 500px
}

.mobile-push {
    color: #2C2C2C;
    font-family: adobe-clean,Helvetica Neue,Helvetica,Verdana,Arial,sans-serif;
    font-size: 18px;
    line-height: 26px;
    padding-top: 47px;
    padding-bottom: 47px;
    vertical-align: top
}

.header {
    color: #000;
    font-family: adobe-clean,Helvetica Neue,Helvetica,Verdana,Arial,sans-serif;
    font-size: 44px;
    line-height: 50px;
    padding-top: 20px;
    padding-right: 0;
    font-weight: 600
}

.body1 {
    color: #000;
    font-family: adobe-clean,Helvetica Neue,Helvetica,Verdana,Arial,sans-serif;
    font-size: 18px;
    line-height: 26px;
    padding-top: 16px;
    font-weight: 400;
    padding-right: 0px
}

.pad2-mob {
    padding-top: 35px;
    padding-bottom: 786px;
}

.btn1 {
    font-family: adobe-clean, sans-serif !important;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    background: #1473e6;
}

.mobile-image {
    color: #000;
    font-family: adobe-clean,Helvetica Neue,Helvetica,Verdana,Arial,sans-serif;
    font-size: 15px;
    line-height: 20px;
    display: block;
    vertical-align: top
}

.block.padb-50 {
    color: #EB1000;
    font-family: adobe-clean, Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 0px;
}

.block {
    color: #EB1000;
    font-family: adobe-clean, Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 0px;
    text-align: right;
}

.social {
}

.legal {
    color: #959595;
    font-family: adobe-clean,Helvetica Neue,Helvetica,Verdana,Arial,sans-serif;
    font-size: 11px;
    line-height: 18px;
    padding-top: 0;
    padding-bottom: 100px
}

.web {
}

.block.padb-50 > img {
    color: #EB1000;
    font-family: adobe-clean, Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    display: block;
    vertical-align: top;
}

.legal > a {
    color: #959595
}

.legal > a {
    color: #959595
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

#reg_foot {
}

.full-width {
    width: 600px;
    background-color: #fff
}

.banner-bg1 {
    background: url(https://landing.adobe.com/content/dam/landing/uploads/2023/emea/assets/images/marquee/63fc59010036eb3b94d95a90292a2b71_emea_ysys_desktop_1x.png) no-repeat center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto
}

.email-width {
    width: 500px
}

.mobile-push {
    color: #2C2C2C;
    font-family: adobe-clean,Helvetica Neue,Helvetica,Verdana,Arial,sans-serif;
    font-size: 18px;
    line-height: 26px;
    padding-top: 47px;
    padding-bottom: 47px;
    vertical-align: top
}

.header {
    color: #000;
    font-family: adobe-clean,Helvetica Neue,Helvetica,Verdana,Arial,sans-serif;
    font-size: 44px;
    line-height: 50px;
    padding-top: 20px;
    padding-right: 0;
    font-weight: 600
}

.body1 {
    color: #000;
    font-family: adobe-clean,Helvetica Neue,Helvetica,Verdana,Arial,sans-serif;
    font-size: 18px;
    line-height: 26px;
    padding-top: 16px;
    font-weight: 400;
    padding-right: 0px
}

.pad2-mob {
    padding-top: 35px;
    padding-bottom: 786px;
}

.btn1 {
    font-family: adobe-clean, sans-serif !important;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    background: #1473e6;
}

.mobile-image {
    color: #000;
    font-family: adobe-clean,Helvetica Neue,Helvetica,Verdana,Arial,sans-serif;
    font-size: 15px;
    line-height: 20px;
    display: block;
    vertical-align: top
}

.block.padb-50 {
    color: #EB1000;
    font-family: adobe-clean, Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 0px;
}

.block {
    color: #EB1000;
    font-family: adobe-clean, Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 0px;
    text-align: right;
}

.social {
}

.legal {
    color: #959595;
    font-family: adobe-clean,Helvetica Neue,Helvetica,Verdana,Arial,sans-serif;
    font-size: 11px;
    line-height: 18px;
    padding-top: 0;
    padding-bottom: 100px
}

.web {
}

. > a {
    color: #ffffff
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595
}

.legal > a {
    color: #959595
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595;
    text-decoration: underline;
}

.legal > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595
}

.legal > a {
    color: #959595
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595;
    text-decoration: underline;
}

.legal > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595
}

.legal > a {
    color: #959595
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595
}

.legal > a {
    color: #959595
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595;
}

.legal > a {
    color: #959595;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595
}

.legal > a {
    color: #959595
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595;
}

.legal > a {
    color: #959595;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595;
}

.legal > a {
    color: #959595;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595
}

.legal > a {
    color: #959595
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595
}

.legal > a {
    color: #959595
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595
}

.legal > a {
    color: #959595
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595
}

.legal > a {
    color: #959595
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595
}

.legal > a {
    color: #959595
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595;
}

.legal > a {
    color: #959595;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595;
}

.legal > a {
    color: #959595;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595;
}

.legal > a {
    color: #959595;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595
}

.legal > a {
    color: #959595
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.legal > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595
}

.legal > a {
    color: #959595
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

.legal > a {
    color: #959595
}

.legal > a {
    color: #959595
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

. > a {
    color: #ffffff
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

#reg_foot > a {
    color: #959595;
    text-decoration: underline;
}

.web > a {
    color: #959595;
    text-decoration: underline
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

#ADO10871-e {
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background-color: #1473e6;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    color: #ffffff
}

#reg_foot {
}

.full-width {
    width: 600px;
}

.email-width {
    width: 500px;
}

.header {
    color: #000000;
    font-family: adobe-clean, Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
    font-size: 44px;
    line-height: 50px;
    padding-top: 20px;
    padding-right: 0px;
    font-weight: 600;
}

.padding-r0 {
    color: #000000;
    font-family: adobe-clean, Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
    font-size: 18px;
    line-height: 26px;
    padding-top: 20px;
    font-weight: 400;
    padding-right: 0px;
}

. {
    color: #1473E6;
    font-family: adobe-clean, Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
    font-size: 15px;
    line-height: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.mobile-image {
    color: #FFFFFF;
    font-family: adobe-clean, Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
    font-size: 22px;
    line-height: 28px;
    display: block;
    vertical-align: top;
}

.block {
    color: #EB1000;
    font-family: adobe-clean,Helvetica Neue,Helvetica,Verdana,Arial,sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 0
}

.padb-50 {
    color: #EB1000;
    font-family: adobe-clean,Helvetica Neue,Helvetica,Verdana,Arial,sans-serif;
    font-size: 12px;
    line-height: 18px;
    display: block;
    vertical-align: top
}

.social {
}

.legal {
    color: #959595;
    font-family: adobe-clean,Helvetica Neue,Helvetica,Verdana,Arial,sans-serif;
    font-size: 11px;
    line-height: 18px;
    padding-top: 0;
    padding-bottom: 100px
}

.web {
}
